<!DOCTYPE html>
<html lang="tr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>İlanlar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h2>İlan Listesi</h2>
    <table>
        <tr>
            <th>İş Tanımı</th>
            <th>Departman</th>
            <th>Tarih</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.department }}</td>
            <td>{{ job.posted_date }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Hiç ilan bulunamadı.</td></tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
